.contact {
  overflow-x: hidden;
}

.contact-page-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  flex-wrap: wrap;
  width: 80%;
  margin: 0% 10%;
}
.contact-page-container h1 {
  word-spacing: 10px;
  letter-spacing: 80%;
  font-size: 17vw;
  font-weight: lighter;
  font-family: "Ogg";
  line-height: 14vw;
}

.contact-page-container a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #642420;
  font-size: 3vw;
  font-weight: 900;
  margin-top: -40%;
  margin-left: 80%;
  padding-bottom: -40%;
  margin-bottom: 5%;
  padding: 10px;
  border: 1px dashed #642420;
  border-radius: 50%;
}

.contact-page-container h1 img {
  position: absolute;
  top: 22.5vw;
  right: 20vw;
  width: 12vw;
  animation: animate-rotate 10s infinite linear;
}

@keyframes animate-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .contact-page-container {
    margin: 15% 10%;
  }
  .contact-page-container a {
    margin-left: 70%;
    margin-top: 0%;
  }
  .contact-page-container h1 img {
    top: 20vw;
    right: 15vw;
    width: 18vw;
  }
}

@media (max-width: 425px) {
  .contact-page-container {
    margin: 30% 10%;
  }
  .contact-page-container h1 {
    font-size: 20vw;
    line-height: 18vw;
  }
  .contact-page-container a {
    margin-left: 69%;
    margin-top: 0%;
    font-size: 4vw;
  }
  .contact-page-container h1 img {
    top: 28vw;
    right: 8vw;
    width: 20vw;
  }
}
