* {
  font-family: "Ogg";
}

.gapper1 {
  margin-top: 50px;
}
.gapper2 {
  margin-top: 0px;
}
.gapper3 {
  margin-top: 0px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 40vw;
  width: 100%;
  margin-top: -80px;
}
.container1 {
  display: flex;
  flex-direction: column;
  padding: 0px 8vw;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}
.txt-line {
  overflow: hidden;
}
.txt-line p {
  font-size: 12vw;
  text-transform: capitalize;
  letter-spacing: -3px;
  font-family: "Ogg";
  overflow: hidden;
  height: 100%;
  line-height: 120%;
}
.line-bottom {
  margin-top: -14vw;
  font-style: italic;
}

.container1 #designer p i {
  color: #642420;
}

.right-side-menu {
  position: absolute;
  top: 40vh;
  text-align: right;
  right: 60px;
}
.right-side-menu p {
  font-size: 20px;
  font-family: "Inter";
  color: #642420;
  cursor: pointer;
  font-weight: lighter;
}

.left-side-quote {
  margin-left: 9vw;
}
.left-side-quote p {
  color: black;
  font-size: 1.5vw;
  font-family: "Inter";
  word-spacing: 10px;
  text-transform: uppercase;
  font-weight: 300;
}

.flower-svg {
  margin-left: 6vw;
  margin-top: -20.5vw;
}
.flower-svg img {
  animation: animate-rotate 30s infinite linear;
  width: 9vw;
}

.short-about {
  margin-top: 230px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.main-h1-short-about {
  margin-top: 6vw;
}
.sub-main-p-short-about {
  margin-top: 150px;
}
.short-about h1 {
  font-size: 10vw;
  font-weight: 500;
  font-family: "Ogg";
  margin-bottom: -150px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 190px;
}
.short-about p {
  text-align: center;
  color: #642420;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.5vw;
  margin-top: 30px;
}

.another-svg {
  margin-top: 40px;
}
.short-about .another-svg img {
  width: 5vw;
  animation: animate-rotate 10s infinite linear;
}

@keyframes animate-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-skills-main-reel {
  width: 100%;
  overflow: hidden;
}
.my-skills-reel {
  margin-top: 300px;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: fit-content;
  will-change: transform;
  animation: animation-reel 15s infinite linear;
}

@keyframes animation-reel {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(94%);
  }
}

.reel-item {
  font-weight: 400;
  font-family: "Ogg";
  font-size: 25vh;
  text-transform: uppercase;
}
.my-skills-reel:hover {
  animation-play-state: paused;
}

.skill-set-boxes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
}
.skill-set-box {
  margin: 50px 10px;
  display: flex;
  width: 350px;
  height: 200px;
  color: #e6e6e6;
  flex-direction: column;
  background-color: #101010;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: color 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  transition: border 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}
.skill-set-box:hover {
  color: #161616;
  background-color: #f0f0f0;
  border: 1px solid #161616;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.skill-set-box h1,
.skill-set-box p {
  margin: 0px 30px;
  font-family: "Inter";
  font-weight: lighter;
  text-transform: uppercase;
}
.skill-set-box h1 {
  margin-top: 35px;
  font-size: 20px;
  font-weight: bold;
}
.skill-set-box p {
  margin-top: 20px;
  font-size: 13px;
}

.project-and-work {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 20vw;
  margin-bottom: 100px;
  flex-direction: column;
  height: 30vh;
  padding-bottom: 11vw;
  border-bottom: 1px dashed black;
}
.project-and-work h1 .h1-project {
  text-decoration: none;
  color: black;
  font-size: 10vw;
  font-weight: lighter;
  font-family: "Ogg";
  text-decoration: 0.5px line-through;
}
.project-and-work p {
  color: black;
  font-size: 3vw;
  margin-top: -20px;
  font-weight: lighter;
  font-family: "Inter";
  padding: 8px;
  border: 1px dashed #101010;
  border-radius: 50%;
}
.h1-project img {
  width: 8vw;
}

@media (max-width: 930px) {
  .gapper1 {
    margin-top: 150px;
  }
  .container {
    height: 44vw;
  }
  .container1 {
    padding: 0 6vw;
  }
  .txt-line p {
    font-size: 13.5vw;
  }
  .left-side-quote {
    margin-left: 7vw;
  }
  .flower-svg {
    margin-left: 70vw;
    margin-top: -28vw;
  }
  .gapper2 {
    margin-top: 20px;
  }
  .sub-main-p-short-about {
    margin-top: 100px;
  }
  .short-about h1 {
    line-height: 180px;
  }
  .short-about p {
    line-height: 0vw;
  }
}

@media (max-width: 768px) {
  .txt-line p {
    font-size: 13.5vw;
  }
  .container {
    height: 48vw;
    display: block;
  }
  .line-bottom {
    margin-top: -15vw;
  }
  .gapper2 {
    margin-top: 30px;
  }
  .gapper3 {
    margin-top: 20px;
  }
  .flower-svg {
    margin-top: -50vw;
  }
  .flower-svg img {
    width: 13vw;
  }
  .container1 {
    padding: 0 6vw;
  }
  .left-side-quote {
    margin-left: 20vw;
  }
  .left-side-quote p {
    font-size: 1.75vw;
  }
  .short-about {
    margin-top: 60vw;
  }
  .short-about h1 {
    font-size: 12vw;
  }
  .short-about p {
    font-size: 2vw;
  }
}

@media (max-width: 690px) {
  .txt-line p {
    font-size: 14vw;
  }
  .container {
    height: 50vw;
  }
  .short-about h1 {
    line-height: 170px;
  }
}

@media (max-width: 600px) {
  .container1 #designer p {
    display: flex;
    flex-direction: column;
    line-height: 10vw;
    margin-left: 20vw;
  }
  .container1 #designer p i {
    margin-left: 28vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
  }
  .txt-line p {
    font-size: 16vw;
  }
  .container {
    height: 60vw;
  }
  .line-bottom {
    margin-top: -24vw;
  }
  .gapper2 {
    margin-top: -30px;
  }
  .gapper3 {
    margin-top: 30px;
  }
  .left-side-quote {
    margin-left: 7vw;
  }
  .flower-svg {
    display: none;
  }
  .short-about {
    margin-top: 20vw;
  }
  .reel-item {
    font-size: 60px;
  }
  .project-and-work h1 .h1-project {
    font-size: 12vw;
  }
  .h1-project img {
    transform: rotate(90deg);
  }
}

@media (max-width: 520px) {
  .txt-line p {
    font-size: 18vw;
  }
  .container {
    height: 70vw;
  }
  .container1 #designer p i {
    margin-left: 20vw;
    margin-top: 6vw;
    margin-bottom: 5vw;
  }
  .line-bottom {
    margin-top: -30vw;
  }
  .left-side-quote p {
    font-size: 2vw;
  }
  .gapper2 {
    margin-top: -50px;
  }
  .gapper3 {
    margin-top: 60px;
  }
  .my-skills-reel {
    margin-top: 200px;
  }
  .project-and-work h1 .h1-project {
    font-size: 13vw;
  }
  .project-and-work p {
    font-size: 5vw;
  }
  .h1-project img {
    width: 10vw;
    /* transform: rotate(90deg); */
  }
}

@media (max-width: 425px) {
  .txt-line p {
    font-size: 20vw;
  }
  .container {
    height: 80vw;
  }
  .container1 {
    padding: 0px 5vw;
  }
  .container1 #designer p {
    margin-left: 13vw;
  }
  .container1 #designer p i {
    margin-left: 24vw;
    margin-top: 6vw;
    margin-bottom: 6vw;
  }
  .line-bottom {
    margin-top: -35vw;
  }
  .left-side-quote p {
    font-size: 3vw;
  }
  .gapper2 {
    margin-top: -30px;
  }
  .gapper3 {
    margin-top: 70px;
  }
  .short-about h1 {
    font-size: 14vw;
  }
  .short-about p {
    font-size: 2.5vw;
  }
}
