@font-face {
  font-family: Ogg;
  src: url(../Assets/fonts/Ogg-Regular.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../Assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: KGHappy;
  src: url(../Assets/fonts/KGHappy.ttf);
}
@font-face {
  font-family: Franchise;
  src: url(../Assets/fonts/Franchise.ttf);
}

.gapper1 {
  margin-top: 50px;
}
.gapper2 {
  margin-top: 0px;
}
.gapper3 {
  margin-top: 350px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 140vh;
  width: 100%;
  margin-top: -80px;
}
.container1 {
  display: flex;
  flex-direction: column;
  padding: 0px 14vw;
  margin-top: -38vh;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}
.txt-line {
  overflow: hidden;
  margin-bottom: -38vh;
}
.txt-line p {
  font-size: 12vw;
  text-transform: capitalize;
  letter-spacing: -3px;
  font-family: KGHappy;
  height: 100%;
  line-height: 100%;
}
#visual {
  margin-left: 25vw;
  color: transparent;
  -webkit-text-stroke: 5px #c91919;
}

.left-side-quote {
  margin-left: 7vw;
  margin-top: -50vh;
}
.left-side-quote p {
  color: black;
  font-size: 1.5vw;
  font-family: Ogg;
  line-height: 110%;
  word-spacing: 10px;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 900;
}

.flower-svg {
  position: relative;
  left: 20%;
  margin-top: -60vh;
}
.flower-svg img {
  animation: animate-rotate 30s infinite linear;
  width: 11vw;
}

.short-about {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.main-h1-short-about {
  margin-top: 12vh;
}
.sub-main-p-short-about {
  margin-top: 150px;
}
.short-about h1 {
  font-size: 11vw;
  font-weight: 500;
  font-family: Franchise;
  text-align: center;
  line-height: 40%;
}
.short-about p {
  text-align: center;
  color: black;
  font-family: Inter;
  font-weight: 900;
  font-size: 1.5vw;
  letter-spacing: 2px;
  word-spacing: 6px;
  line-height: 50%;
  margin-top: -80px;
}
.another-svg {
  margin-top: -20px;
}
.short-about .another-svg img {
  width: 5vw;
  animation: animate-rotate 10s infinite linear;
}
@keyframes animate-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-skills-main-reel {
  width: 100%;
}
.my-skills-reel {
  margin-top: 40vh;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reel-item {
  font-weight: 300;
  font-family: Franchise;
  font-size: 12vw;
  text-transform: uppercase;
}

.skill-set-boxes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
}
.skill-set-box {
  margin: 50px 10px;
  display: flex;
  width: 350px;
  height: 200px;
  color: #e9dbd4;
  flex-direction: column;
  background-color: #101010;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: color 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1);
  transition: border 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}
.skill-set-box:hover {
  color: #161616;
  background-color: #e9dbd4;
  border: 1px solid #161616;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.skill-set-box h1,
.skill-set-box p {
  margin: 0px 30px;
  font-family: Inter;
  font-weight: lighter;
  text-transform: uppercase;
}
.skill-set-box h1 {
  margin-top: 35px;
  font-size: 20px;
  font-weight: bold;
}
.skill-set-box p {
  margin-top: 20px;
  font-size: 13px;
}

.project-and-work {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 20vw;
  margin-bottom: 100px;
  flex-direction: column;
  height: 30vh;
  padding-bottom: 15vh;
  border-bottom: 1px dashed black;
}
.project-and-work h1 .h1-project {
  text-decoration: none;
  color: #e9dbd4;
  font-size: 12vw;
  font-weight: lighter;
  font-family: Franchise;
  text-decoration: 0.5px line-through;
}
.h1-project img {
  width: 5vw;
  transform: rotate(180deg);
  padding: 15px;
  border: 1px dashed black;
  border-radius: 10%;
}

@media (max-width: 1080px) {
  .container1 {
    margin-top: -33vh;
  }
  .txt-line {
    margin-bottom: -33vh;
  }
  .flower-svg {
    margin-top: -57vh;
  }
  .flower-svg img {
    width: 12vw;
  }
}
@media (max-width: 980px) {
  .txt-line {
    margin-bottom: -30vh;
  }
}
@media (max-width: 890px) {
  .txt-line {
    margin-bottom: -27vh;
  }
}
@media (max-width: 768px) {
  .container1 {
    margin-top: -30vh;
    padding: 0px 10vw;
  }
  .txt-line p {
    font-size: 14vw;
  }
  .flower-svg {
    left: 18%;
    margin-top: -52vh;
  }
  .flower-svg img {
    width: 13vw;
  }
  .short-about h1 {
    font-size: 13vw;
  }
  .another-svg {
    margin-top: -122px;
  }
  .short-about .another-svg img {
    width: 3vw;
  }
  .reel-item {
    font-size: 14vw;
  }
  .project-and-work {
    padding-bottom: 10vh;
  }
  .project-and-work h1 .h1-project {
    font-size: 14vw;
  }
  .h1-project img {
    width: 4vw;
  }
}

@media (max-width: 425px) {
  .container1 {
    margin-top: -30vh;
    padding: 0px 3vw;
  }
  .txt-line p {
    font-size: 18.5vw;
    letter-spacing: -5px;
    line-height: 110%;
  }
  #visual {
    margin-left: 27vw;
  }
  .txt-line {
    margin-bottom: -120px;
  }
  .flower-svg {
    display: none;
  }
  .left-side-quote {
    margin-top: -64vh;
  }
  .left-side-quote p {
    font-size: 2vw;
    word-spacing: 3px;
    letter-spacing: 0px;
    writing-mode: vertical-rl;
  }
  .gapper3 {
    margin-top: 0px;
  }
  .short-about h1 {
    font-size: 16vw;
  }
  .short-about p {
    font-size: 2vw;
    word-spacing: 6px;
    line-height: 200%;
    padding: 0 1vw;
  }
  .another-svg {
    margin-top: -160px;
  }
  .short-about .another-svg img {
    width: 5vw;
  }
  .reel-item {
    font-size: 18vw;
  }
  .skill-set-box {
    width: 320px;
    margin: 30px 10px;
  }
  .project-and-work {
    padding-bottom: 0vh;
    margin-top: 20vh;
    margin-bottom: 200px;
  }
  .project-and-work h1 .h1-project {
    font-size: 17vw;
  }
  .h1-project img {
    width: 3vw;
  }
}
